<mat-card [routerLink]="['product', data.id]" style="cursor: pointer">
  <div class="w-100 text-center" *ngIf="isMobile; else default">
    <img mat-card-image src="{{ data.image }}" class="images" />
  </div>
  <ng-template #default>
    <img mat-card-image src="{{ data.image }}" class="images"
  /></ng-template>
  <mat-card-content>
    <p>
      {{
        data.title.length > 20
          ? data.title.substr(0, 20) + "&hellip;"
          : data.title
      }}
    </p>
    <div class="rate d-flex justify-content-between">
      <p>${{ data.price }}</p>
      <p>{{ data.rating?.rate }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" [style.width.%]="100">
      Add to cart
    </button>
  </mat-card-actions>
</mat-card>
