.row{
    margin-right: 0px;
    margin-left: 0px;
 }
 .footer-top{
     margin-top: 20px;
 }
 .mat-headline{
     margin: 0;
 }
 .footer > .col-sm-4{
    margin-top: 20px;
 }
 .footer{
     margin-top: 30px;
     min-height: 140px;
     background-color: #3F51B5;
     color: #ffffff;
 }
 ul li{
     list-style: none;
 }
 .btn{
    background-color: #F44336;
    color: #ffffff;
}
mat-divider{
    width: 100%;
}
.footer-link{
    background-color: #3F51B5;
    color: #ffffff;
}
