<div class="row footer">
    <div class="col-sm-4">
      <div class="brand mat-headline">Shop4all</div>
      <div class="mat-subheading-2">
        think it, want it, we got it
      </div>
    </div>
    <div class="col-sm-4">
      <ul class="list">
        <li>about us</li>
        <li>what we do</li>
        <li>career</li>
        <li>customer care</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <div class="mat-subheading-2">
        want to get nice updates, subscribe to our newsletter
      </div>
      <form action="">
        <div class="input-group input-group">
          <input type="text" class="form-control" placeholder="email address">
          <span class="input-group-btn">
            <button class="btn">subscribe</button>
          </span>
        </div>
      </form>
      <div class="social-media-icons"></div>
    </div>
    <mat-divider></mat-divider>
</div>
<div class="row footer-link">
  <div class="col-sm-6 mx-auto">
    <div class="text-center">powered by www.donlini.com</div>
  </div>
</div>