.carousel-inner > .carousel-item {
  height: 100vh;
}

/* .carousel,
.carousel-item img {
  height: 100vh;
  background-position: center;
  background-size: contain;
} */
.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.carouselBtn button {
  width: 200px;
  margin-bottom: 20px;
}

.carouselBtn:hover() {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .carousel-inner > .carousel-item {
    height: auto;
  }
}
