<div class="row">
  <div class="col-sm-12">
    <div class="weekly-section">
      <div class="section-header">
        <div class="mat-headline headline">Week's Best</div>
      </div>
      <div class="section-body">
        <ng-container *ngIf="isMobile; else desktop">
          <!-- <app-carousel-slide>
            <app-product-card></app-product-card>
          </app-carousel-slide> -->
        </ng-container>
        <ng-template #desktop>
          <app-product-card-grid [data]="data"></app-product-card-grid>
        </ng-template>
        <div class="more">
          <button mat-button color="warn">See more</button>
        </div>
      </div>
    </div>
  </div>
</div>
