<div class="row">
  <div class="col-sm-12">
    <div class="weekly-section">
      <div class="section-header">
        <div class="mat-headline headline">Week's Best</div>
      </div>
      <div class="section-body">
        <mat-grid-list cols="4" gutterSize="10px" rowHeight="fit" style="height:400px;">
          <mat-grid-tile>
             <mat-card>
           <img mat-card-image src="../../assets/main-img.jpg">
           <mat-card-content>
               <p>Lorem Ipsum</p>
               <div class="rate">
                 <p>$180</p>
                 <p>6 rating</p>
               </div>
           </mat-card-content>
           <mat-card-actions>
             <button mat-raised-button color="warn">Buy now</button>
           </mat-card-actions>
         </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>