<div class="row newsletter">
    <div class="col-sm-6 newsletter-body1"> 
      <div class="mat-headline">Subscribe to our newsletter</div>
      <div class="mat-body-1">Sign up for our weekly updates on the latest clothes and fashion trends.</div>
    </div>
    <div class="col-sm-6 newsletter-body2">
      <form action="">
        <div class="input-group input-group">
          <input type="text" class="form-control" placeholder="email address">
          <span class="input-group-btn">
            <button class="btn">subscribe</button>
          </span>
        </div>
      </form>
    </div>
</div>