<div class="row">
  <div class="col-sm-12">
    <div class="products-section">
      <div class="section-header">
        <div class="mat-headline headline">Take your pick</div>
      </div>
      <div class="section-body">
        <mat-grid-list cols="4" rowHeight="fit" style="height: 100vh;" gutterSize="10px">
          <mat-grid-tile colspan="3" class="cloth" routerLink = "/clothes">clothes</mat-grid-tile>
          <mat-grid-tile class="watch" routerLink = "/watch">watches</mat-grid-tile>
          <mat-grid-tile class="phone" rowspan="2" routerLink = "/phones">mobile phones</mat-grid-tile>
          <mat-grid-tile class="jewel" routerLink = "/jewellery">jewellery</mat-grid-tile>
          <mat-grid-tile class="shoe" routerLink = "/shoes">shoes</mat-grid-tile>
          <mat-grid-tile class="pc" rowspan="2" routerLink = "/pc">laptops</mat-grid-tile>
          <mat-grid-tile class="baby" colspan="2" routerLink = "/baby">baby items</mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
  