.row{
    margin-right: 0px;
    margin-left: 0px;
 }
 .headline{
     text-align:center;
     margin-top: 30px;
     margin-bottom: 20px;
 }
 .headline:after{
     display: block;
     content: " ";
     width: 5%;
     min-height: 5px;
     margin: 0 auto;
     margin-top: 10px;
     background: #3F51B5;
 }
 ::ng-deep.mat-tab-label{
     min-width: 25% !important;
 }
 mat-card-image{
    margin: 0px;
 }
 .rate{
     display: flex;
     justify-content: space-between;
 }
