<div class="row">
  <div class="col-sm-12">
    <div class="special-section">
      <div class="section-header">
        <div class="mat-headline headline">Featured Products</div>
      </div>
      <div class="section-body">
        <mat-tab-group>
          <mat-tab label="Newest Arrivals">
            <ng-container *ngIf="isMobile; else grid">
              <app-carousel-slide [showIndicator]="false">
                <ng-container *ngFor="let grid of data; let i = index">
                  <div
                    class="carousel-item"
                    [ngClass]="i === 0 ? 'active' : ''"
                  >
                    <app-product-card [data]="grid"></app-product-card>
                  </div>
                </ng-container>
              </app-carousel-slide>
            </ng-container>
            <ng-template #grid>
              <app-product-card-grid [data]="data"></app-product-card-grid>
            </ng-template>
          </mat-tab>
          <mat-tab label="Trending">
            <ng-container *ngIf="isMobile; else grid">
              <app-carousel-slide [showIndicator]="false">
                <ng-container *ngFor="let grid of data; let i = index">
                  <div
                    class="carousel-item"
                    [ngClass]="i === 0 ? 'active' : ''"
                  >
                    <app-product-card [data]="grid"></app-product-card>
                  </div>
                </ng-container>
              </app-carousel-slide>
            </ng-container>
            <ng-template #grid>
              <app-product-card-grid [data]="data"></app-product-card-grid>
            </ng-template>
          </mat-tab>
          <mat-tab label="Special Discounts">
            <ng-container *ngIf="isMobile; else grid">
              <app-carousel-slide [showIndicator]="false">
                <ng-container *ngFor="let grid of data; let i = index">
                  <div
                    class="carousel-item"
                    [ngClass]="i === 0 ? 'active' : ''"
                  >
                    <app-product-card [data]="grid"></app-product-card>
                  </div>
                </ng-container>
              </app-carousel-slide>
            </ng-container>
            <ng-template #grid>
              <app-product-card-grid [data]="data"></app-product-card-grid>
            </ng-template>
          </mat-tab>
          <mat-tab label="Top Rated">
            <ng-container *ngIf="isMobile; else grid">
              <app-carousel-slide [showIndicator]="false">
                <ng-container *ngFor="let grid of data; let i = index">
                  <div
                    class="carousel-item"
                    [ngClass]="i === 0 ? 'active' : ''"
                  >
                    <app-product-card [data]="grid"></app-product-card>
                  </div>
                </ng-container>
              </app-carousel-slide>
            </ng-container>
            <ng-template #grid>
              <app-product-card-grid [data]="data"></app-product-card-grid>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
