<div class="row">
  <div class="col-sm-12">
    <div class="special-section">
      <div class="section-header">
        <div class="mat-headline headline">Featured Products</div>
      </div>
      <div class="section-body">
        <mat-tab-group>
          <mat-tab label="Newest Arrivals">
            <app-product-card [data]="data"></app-product-card>
          </mat-tab>
          <mat-tab label="Trending">
            <app-product-card [data]="data"></app-product-card>
          </mat-tab>
          <mat-tab label="Special Discounts">
            <app-product-card [data]="data"></app-product-card>
          </mat-tab>
          <mat-tab label="Top Rated">
            <app-product-card [data]="data"></app-product-card>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
