<mat-toolbar color="primary" class="nav">
  <div class="logo"><mat-icon>cart</mat-icon>shop4all</div>
  <div class="search">
    <form (ngSubmit)="search()">
      <input
        type="search"
        placeholder="search"
        class="search-input"
        (change)="handleChange($event)"
      />
      <button
        type="submit"
        class="search-button"
        mat-button
        matSuffix
        mat-icon-button
      >
        <mat-icon class="search-icon">search</mat-icon>
      </button>
    </form>
  </div>
  <div class="nav-desktop">
    <span><a routerLink="/">Home</a></span>
    <span class="category"
      ><a [matMenuTriggerFor]="menuItems">Categories</a></span
    >
    <mat-menu #menuItems="matMenu">
      <button mat-menu-item routerLink="/product/clothes">Clothes</button>
      <button mat-menu-item routerLink="/product/watches">Watches</button>
      <button mat-menu-item routerLink="/product/jewelleries">Jewellery</button>
      <button mat-menu-item routerLink="/product/pc">Pc</button>
      <button mat-menu-item routerLink="/product/phones">Phones</button>
      <button mat-menu-item routerLink="/product/shoes">Shoes</button>
      <button mat-menu-item routerLink="/product/babies">Baby Items</button>
    </mat-menu>
    <span><a routerLink="/about">About Us</a></span>
    <span class="user"
      ><mat-icon [matMenuTriggerFor]="account">account_circle</mat-icon></span
    >
    <mat-menu #account="matMenu">
      <button mat-menu-item (click)="openSignUp()">Sign Up</button>
      <button mat-menu-item (click)="openSignIn()">Sign In</button>
    </mat-menu>
  </div>
</mat-toolbar>
