<mat-toolbar color="primary" class="nav">
  <div class="logo">shop4all</div>
  <div class="search">
    <!-- <mat-form-field>
      <input matInput type="text" placeholder="Search" />
      <button mat-button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field> -->
    <form action="">
      <input type="search" placeholder="search" class="search-input" />
      <button
        type="submit"
        class="search-button"
        mat-button
        matSuffix
        mat-icon-button
      >
        <mat-icon class="search-icon">search</mat-icon>
      </button>
    </form>
  </div>
  <div>
    <span><a routerLink="/">Home</a></span>
    <span class="cat"><a [matMenuTriggerFor]="menuItems">Categories</a></span>
    <mat-menu #menuItems="matMenu">
      <button mat-menu-item routerLink="/clothes">Clothes</button>
      <button mat-menu-item>Watches</button>
      <button mat-menu-item>Jewellery</button>
      <button mat-menu-item>Pc</button>
      <button mat-menu-item>Phones</button>
      <button mat-menu-item>Shoes</button>
      <button mat-menu-item>Baby Items</button>
    </mat-menu>
    <span><a routerLink="/about">About Us</a></span>
    <span class="cat acc"
      ><mat-icon [matMenuTriggerFor]="account">account_circle</mat-icon></span
    >
    <mat-menu #account="matMenu">
      <button mat-menu-item (click)="openSignUp()">Sign Up</button>
      <button mat-menu-item (click)="openSignIn()">Sign In</button>
    </mat-menu>
  </div>
</mat-toolbar>
